// _variables처럼 파일명 앞에 _을 붙이면 이 파일을 변환하거나 컴파일하지 않겠다고 설정하는 것이다. (오직 scss파일이라고 선언한 것임)
// 즉 _variable.scss파일은 변수들을 정의하는 파일이기 때문에 컴파일 할 필요가 없고 앞에 _를 붙여서 컴파일할 파일과 구분시켜준다.
// SCSS에 강력한 특징 중 하나인 변수를 선언하는 방법이다. 변수를 선언하면 필요한 곳에서 쉽게 가져와서 사용할 수 있다.
// SCSS에서 변수를 정의하는 방법: $변수명: 값
$bg: lightgray;
$color: crimson;
$titleSize: 50px;
